#title{
    font-weight: 900;
    text-align: center;
    padding: 20px;
}


#dates{
    background-color: rgb(241, 240, 160);
}

.p-3{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body{
    text-align: center;
    background-color: aliceblue;
    width: fit-content;
}

.description{
    margin-top: 20px;
    padding: 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#budget_b{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 2, 53);
}

#PDF-data{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(22, 2, 53);
}

.budget{
    margin-top: 30px;
    padding: 20px;
    width:fit-content ;
    margin-left: auto;
    margin-right: auto;
}


#errors_in_form{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#line{
    margin: 1px;
}
.line_col{
    background-color: rgb(195, 195, 238);
    margin-left: 1px;
    margin-right: 1px;
    font-size: smaller;
    font-weight: 500;
}

#income_col{
    background-color: rgb(220, 235, 219);
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

#expend_col{
    background-color: rgb(243, 179, 179);
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.listing_title{
    margin-top: 20px;
    color: rgb(24, 19, 14);
}

.total{
    background-color: aliceblue;
    text-align: right;
    font-weight: 500;
    font-size: small;
}

#income_list {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#income_list td, #income_list th {
    border: 1px solid rgb(17, 5, 5);
    padding: 1px;
    text-align: right;
}

#income_list tr:nth-child(even){background-color: #f2f2f2;}

#income_list tr:hover {background-color: #ddd;}

#income_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.pdf-section{
    text-align: center;
}