#middle{
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
}

.input{
    margin-top: 10px;
    margin-bottom: 10px;
}
