#main_title{
    text-align: center;
    font-weight: 800;
}

.events_list{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 80%;
    background-color: aliceblue; 
    display: flex;
}

.list_item{
    display: inline-flex;
    margin: 20px;
}

