{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{%block head%}
    <link rel="stylesheet" href="static/style/main.css">
{% endblock %}

{% block main %}
    <h1 id="main_title">Event Manager</h1>
    {% if events %}
    <div class="events_list">
        {% for event in events %}
        <div id="project_card">
            <div class="p_card-title">
                {{ event["name"] }}
            </div>
            <div class="p_description">
                {{ event["description"] }}
            </div>
            <div class="submit">
                <a href='/event?id={{ event["id"] }}' class="btn btn-primary">See More</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}