{% extends "layout.html" %}

{% block title %}
    LOGIN
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="static/style/login.css">
    <link rel="stylesheet" href="static/style/event.css">
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" id="errors_in_form" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="middle">
        <form action="/login" method="POST">
            <div class="input-group flex-nowrap input">
                <input name="username_email" type="text" class="form-control" placeholder="Username or Email" aria-label="Username" aria-describedby="addon-wrapping auto" autocomplete="off">
            </div>
            <div class="input-group flex-nowrap input">
                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping" autocomplete="off">
            </div>
            <div class="input">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}

